#{extends 'main.html' /} 
#{set title:'Home' /}

<style type="text/css">
	.contenedor{
		position: absolut;
		padding: 45px 15px 15px;
		margin: 0 center;
		background-color: #AFEEEE;
	}
	.title{
		width: 100%;
		height: 70px;
		position: absolut;
		background-color: #4682B4;
		color: white;
		text-align: center;
		font-size: 40px;

	}
	#nya {
  		text-transform: capitalize;
  		}
</style>

<div class="contenedor">
	<p class="title">Home page!</p>
	<h2>Usuario logueado</h2>
	<div><b>Nombre completo:</b> <span id="nya"> ${name} ${apellido}</span> </div>
	<p></p>
	<p><b>Email:</b> ${email}</p>
	<p><b>Edad:</b> ${edad}</p>
	
	<div class="form-group">
	 <a href="@{Application.index()}" type="submit" class="btn btn-primary" name = "volver" >volver al inicio</a>
	</div>
</div> 