#{extends 'main.html' /} 
#{set title:'Home' /}
<head>
		<script type="text/javascript">
		function isNumber(e) {
    	k = (document.all) ? e.keyCode : e.which;
		if (k==8 || k==0) return true;
    	patron = /\d/;
    	n = String.fromCharCode(k);
    	return patron.test(n);
			}
			
		</script>
</head>
		
<body>
<form action="@{Application.login}">
	<div class="form-group">

		<label for="name">Nombre</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" value="${flash.get('name')}">
		#{ifError 'name'}
    	<li  style="color:#c00"> #{error 'name' /} </li>
		#{/ifError}
	</div>

	<div class="form-group">
		<label for="name">Apellido</label>
		<input type="text" class="form-control" id="appellido" name="apellido" placeholder="Apellido" value="${flash.get('apellido')}">
		#{ifError 'apellido'}
    	<li  style="color:#c00"> #{error 'apellido' /} </li>
		#{/ifError}
	</div>


	<div class="form-group">
		<label for="name">Email</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="e-mail" value="${flash.get('email')}">
		#{ifError 'email'}
    	<li  style="color:#c00"> #{error 'email' /} </li>
		#{/ifError}
	</div>

	<div class="form-group">
		<label for="name">Edad</label>
		<input type="text" class="form-control" id="edad" name="edad" placeholder="Edad" value="${flash.get('edad')}" onkeypress="return isNumber(event);" value="${flash.get('edad')}">
		#{ifError 'edad'}
    	<li  style="color:#c00"> #{error 'edad' /} </li>
		#{/ifError}
	</div>

	<div class="form-group">
		<label for="name">Contraseña</label> 
		<input type="password" class="form-control" id="password" name="password" placeholder="******" value="${flash.get('password')}">
		#{ifError 'password'}
    	<li  style="color:#c00"> #{error 'password' /} </li>
		#{/ifError}
	</div>

	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="Ingresar">
	</div>
</form>
</body>


	